<div class="hero">
    <img
        src="{{lastRecipe.imgUrl}}">
    <div class="info">
        <div>
            <a href="#"><h2>{{lastRecipe.title}}</h2></a>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio totam assumenda
                commodi, aliquid tempora aspernatur tempore officia iste delectus quasi ut minus autem veniam vel
                recusandae! Eaque, odit autem!</p>
        </div>
    </div>
</div>

<section class="recipes">
    <h2>Recently added recipes</h2>
    <app-recipe-list class="recipes-list"></app-recipe-list>
</section>