<header>
    <div class="logo">
        <a routerLink="/">Recipes</a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/all-recipes">All recipes</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </nav>
</header>
<!-- <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/all-recipes" routerLinkActive="active">All recipes</a></li>
</ul> -->