<header>
    <div class="logo">
        <a routerLink="/">Recipes</a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/recipes">All recipes</a></li>
            <li><a routerLink="/search">Search</a></li>
            <ng-container *ngIf="!isLogged">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ng-container>
            <ng-container *ngIf="!!isLogged">
                <li><a routerLink="/favorites">Favorite recipes</a></li>
                <li><a routerLink="/my-recipes">My recipes</a></li>
                <li><a routerLink="/add-recipe">Add a recipe</a></li>
                <li><a routerLink="/" (click)="logoutHandler()">Logout</a></li>
            </ng-container>
        </ul>
    </nav>
</header>