<div class="hero">
    <img
        src="https://img.delicious.com.au/GxyihqoQ/w1200/del/2016/06/tiramisu-cheesecake-36413-2.jpg">
    <div class="info">
        <div>
            <a href="#"><h2>Recipe name some recipe name</h2></a>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio totam assumenda
                commodi, aliquid tempora aspernatur tempore officia iste delectus quasi ut minus autem veniam vel
                recusandae! Eaque, odit autem!</p>
        </div>
    </div>
</div>

<section class="recipes">
    <h2>Recently added recipes</h2>
    <div class="recipes-list">
        <div class="recipe-card">
            <div class="recipe-img-wrapper">
                <a href="#" class="recipe-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTirYylLkYffscIAsH76N4jYAVpckOodfqbuQ&usqp=CAU');"></a>
            </div>
            <p>Added by Admin</p>
            <a href="#"><h3>Recipe name some recipe</h3></a>
        </div>
        <div class="recipe-card">
            <div class="recipe-img-wrapper">
                <a href="#" class="recipe-img" style="background-image: url('https://realfood.tesco.com/media/images/Chocolate-and-caramel-cheesecake-recipe-1400x919--800d9fb2-ae2e-4c41-8385-8da9b52dcca7-0-1400x919.jpg');"></a>
            </div>
            <p>Added by Admin</p>
            <a href="#"><h3>Recipe name some recipe</h3></a>
        </div>
        <div class="recipe-card">
            <div class="recipe-img-wrapper">
                <a href="#" class="recipe-img" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pumpkin-cheesecake-recipe-1-1627571569.jpg');"></a>
            </div>
            <p>Added by Admin</p>
            <a href="#"><h3>Recipe name some recipe</h3></a>
        </div>
        <div class="recipe-card">
            <div class="recipe-img-wrapper">
                <a href="#" class="recipe-img" style="background-image: url('https://images-gmi-pmc.edge-generalmills.com/516b324f-f724-4860-a59a-f64ad9123d2f.jpg');"></a>
            </div>
            <p>Added by Admin</p>
            <a href="#"><h3>Recipe name some recipe</h3></a>
        </div>
        <div class="recipe-card">
            <div class="recipe-img-wrapper">
                <a href="#" class="recipe-img" style="background-image: url('https://www.wilton.com/dw/image/v2/AAWA_PRD/on/demandware.static/-/Sites-wilton-project-master/default/dwdbdac7b4/images/project/WLRECIP-8770/2105-0-0039_WaRoPaFe_47506.jpg?sw=800&sh=800');"></a>
            </div>
            <p>Added by Admin</p>
            <a href="#"><h3>Recipe name some recipe</h3></a>
        </div>
        <div class="recipe-card">
            <div class="recipe-img-wrapper">
                <a href="#" class="recipe-img" style="background-image: url('https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Italian-Cream-Cheese-Cake_EXPS_FT19_28232_F_0910_1.jpg');"></a>
            </div>
            <p>Added by Admin</p>
            <a href="#"><h3>Recipe name some recipe</h3></a>
        </div>
    </div>
</section>